html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway';
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  margin: 0 0.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  width: 4rem;
  height: 4rem;
  display: inline-block;
}
.links .icon > svg {
  width: 2rem;
  height: 2rem;
}
.m-b-md {
  margin-bottom: 60px;
}
.title a img {
  max-height: none !important;
  width: 260px;
  height: 260px;
  overflow: hidden;
  border-radius: 50%;
  background: #fff;
  box-shadow: rgba(255, 255, 255, 1) 0 0 0 10px, rgba(0, 0, 0, 1) 0 0 20px 8px;
  -webkit-transition: -webkit-transform 600ms;
  -moz-transition: -moz-transform 600ms;
  transition: transform 600ms;
}
